.table-head {
    text-align: center;
    font-size: 24px;
}
.tables {
    width: 80%;
    margin: 50px auto;
    border-collapse: collapse;
    border:none;
}
.nav-table {
    background-color: rgba(6, 74, 219, 0.6);
    height: 30px;
}
.rezult {
    border-bottom: 1px solid #000000;
    background-color: #fff;
    height: 40px;
}
    .rezult:hover {
        background-color: rgba(160, 204, 255, 0.6);
        transition: 1s;
    }
table {
    width: 80%;
    border: 2px solid rgba(128, 128, 128, 0.74);
    padding: 2%;
}
.numb{
    text-align:center;
}